<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blog.mapper.BoardMapper">
	<!-- 게시글 리스트 불러오기 및 정렬 -->
	<select id="list" resultType="com.blog.model.BoardVO">
		select *
		from(
		select @rownum:=@rownum+1 rownum, b.*
		from board b,
		(select @rownum:=0) as tmp
		<if test="keyword != null">
			<choose>
				<when test="type=='T'.toString()">
					where title like concat('%',#{keyword},'%')
				</when>
				<when test="type=='C'.toString()">
					where content like concat('%',#{keyword},'%')
				</when>
				<otherwise>
					where title like concat('%',#{keyword},'%')
					OR content
					like concat('%',#{keyword},'%')
				</otherwise>

			</choose>

		</if>
		order by uid desc
		) as boardlist
			<![CDATA[
			where rownum > (#{pageNum}-1)*#{amount} and rownum <= #{pageNum}*#{amount}
			]]>
	</select>

	<select id="detail" resultType="com.blog.model.BoardVO">
		select * from board
		where
		uid=#{uid}
	</select>

	<update id="countup">
		update board
		set count = count + 1
		where uid = #{uid}
	</update>

	<!-- 게시글 갯수 -->
	<select id="total" resultType="int">
		select count(*) from board
		<if test="keyword != null">

			<choose>
				<when test="type=='T'.toString()">
					where title like concat('%',#{keyword},'%')
				</when>
				<when test="type=='C'.toString()">
					where content like concat('%',#{keyword},'%')
				</when>
				<otherwise>
					where title like concat('%',#{keyword},'%')
					OR content
					like concat('%',#{keyword},'%')
				</otherwise>

			</choose>


		</if>
	</select>
	<!-- 글쓰기 -->
	<insert id="write">
		<selectKey keyProperty="uid" order="BEFORE" resultType="int">
			select max(uid)+1 uid
			from board
		</selectKey>

		insert into board(uid,title, content,regdate,id)
		values(#{uid},#{title},
		#{content},sysdate(),#{id})
	</insert>

	<!-- 글삭제 -->
	<delete id="remove">
		delete from board
		where uid=#{uid}
	</delete>

	<!-- 글수정 -->
	<update id="modify">
		update board
		set title=#{title}, content=#{content}
		where uid=#{uid}
	</update>



</mapper>