<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blog.mapper.LoginMapper">

	<select id="login" resultType="com.blog.model.LoginVO">
		select id, password
		from member
		where id=#{id} and password=#{password}
	</select>
	
	<insert id="memreg">
		insert into member (id,password,phone,email,name)
		values(#{id},#{password},#{phone},#{email},#{name});
	</insert>
	
</mapper>